<section class="bg-white p-4 rounded-lg flex flex-col gap-3.5">

    <header class="flex items-center py-2 gap-3">
        <img src="assets/images/green-rectangle.svg" alt="hello">
        <h3 translate class="font-size-12 font-gray font-semibold">Products</h3>
    </header>

    <div class="border rounded-lg flex gap-1 items-center justify-center" style="max-width: 302px; height: 38px;">
        <img src="assets/images/add.svg" alt="add" class="cursor-pointer">
        <span translate class="font-size-12 font-semibold font-gray">Add products here</span>
    </div>
</section>