<section class="bg-white flex flex-col gap-1 items-stretch">
    <div class="flex gap-4 justify-between">
        <app-dropdown label="Client" labelIcon="client.svg" [options]="['Client']" selectedOption="Client"
            selectedOptionIcon="client_icon.png"></app-dropdown>
        <app-dropdown label="Client" labelIcon="client.svg" [options]="['Client']" selectedOption="Client"
            selectedOptionIcon="client_icon.png"></app-dropdown>
    </div>

    <div class="flex gap-4 justify-between">
        <app-dropdown label="Client" labelIcon="client.svg" [options]="['Client']" selectedOption="Client"
            selectedOptionIcon="client_icon.png"></app-dropdown>
        <app-dropdown label="Client" labelIcon="client.svg" [options]="['Client']" selectedOption="Client"
            selectedOptionIcon="client_icon.png"></app-dropdown>
    </div>

    <div class="flex gap-4 justify-between">
        <app-dropdown label="Client" labelIcon="client.svg" [options]="['Client']" selectedOption="Client"
            selectedOptionIcon="client_icon.png"></app-dropdown>
        <app-dropdown label="Client" labelIcon="client.svg" [options]="['Client']" selectedOption="Client"
            selectedOptionIcon="client_icon.png"></app-dropdown>
    </div>

</section>