<div class="relative">
    <label class="flex top-0 left-0 p-1 transition-all duration-300 gap-3 items-center">
        <img [src]="'assets/images/' + labelIcon">
        <span class="font-dark-blue font-semibold font-size-11">{{label | translate}}</span>
    </label>
    <div class="border-2 border-gray-300 rounded-lg flex bg-white items-center">
        <textarea type="textarea" pInputTextarea
            class="w-full rounded-lg p-1 focus:outline-none focus:border-blue-500 font-semibold font-dark-blue font-size-13"
            [placeholder]="placeholder | translate" rows="3"></textarea>
        <span *ngIf="prefix" class="bg-white rounded-lg p-2 font-blue font-size-11 font-semibold ">{{prefix |
            translate}}</span>
    </div>
</div>